#mainNav{
  color:black;
  border-style:none;  
  font-family: 'Bevan', cursive;
}
#iconName
{
  color:black ;
}


#pageName{
  font-family: 'Bevan', cursive;
  font-size: 95px;
  font-style:italic;
  color:white;
}

#pagePhrase{
  font-family: 'Passion One', cursive;
  font-size: 15px;
  font-style:italic;
  color:white;
}


#heading{
  background-image:url(../images/headerBackground.jpg);
  background-size:cover;
  max-width:100%;
  height:800px;

}


#headingDiv
{
  padding-top:200px;
}

#aboutDiv,
#contactDiv
{
  padding-top:150px;
}

#contactDiv{
  text-align: center;
}

#servicesDiv
{
  padding-top:300px;
}


#about,
#contact{
background-color:white;
padding-bottom:20px;
height:500px;
}


#services{
background-image:url(../images/servicesBackground.jpg);
background-size:cover;
height:800px;
color:white;
}

.sectionHeader{
  font-family: 'Passion One', cursive;
  text-align: center;
}

body{
  padding-top: 50px;
}

#limsFooter{
  height: 75px;
  padding-top: 25px;
  text-align: center;
  font-family: 'Passion One', cursive;
  font-size: 15px;
  color: white;
  background-image:url(../images/footerBackground.jpg);
  bottom:0;
  position:absolute;
  width:100%;
}

#indexFooter
{
  height: 75px;
  padding-top: 25px;
  text-align: center;
  font-family: 'Passion One', cursive;
  font-size: 15px;
  color: white;
  background-image:url(../images/footerBackground.jpg);
  bottom:0;
}


